<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    {{>header}}
    <p> This site was created by Raz Matzliah. It uses data from weatherstack and mapbox.</p>
    <img src="./img/robot.png">
    {{>footer}}
</body>


</html>